<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.motores_musicos">

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:label="motores_musicos"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity"
            android:exported="true">
        </activity>
    </application>
</manifest>
